# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
yadrpm

# CLion working directory
.idea/

# Visual Studio Working Directory
.vs/

# CMake output directory
cmake-build-debug/

# Discord's game SDK
src/discord